
body{
  background-color: #fff;
}
text{
  fill:#333333
}
.background {
    fill: #ededed;
  }
  
  line {
    stroke: #fff;
  }

  .selected{
    z-index: 11;
    font-weight: bold;
    fill: #be0505;
    text-decoration:underline;


  }

  .cellStrong
  {
z-index: 30; stroke-width:3;

  }
  
  text.active {
    fill: #2b97df;
    z-index: 30;
    font-weight: bold;

  }

  .tooltip { pointer-events: none; }

  .hovered{
    text-decoration:underline;
    fill: #009113;
    
    font-weight:bold;
    z-index:10;
  }

  table{
   max-height: 400px;
   overflow-y: scroll;
   border-collapse:separate;
  border:1px solid black;
  }

  table th{

    border-bottom:  1px solid black ;
  }